#headings {
  font-family: "Aleo", serif;
  font-family: "Raleway", sans-serif;
  color: #6c3356;
  letter-spacing: 1px;
  font-size: 32px;
  text-align: center;
}


@media only screen and (max-width:576px) {
    #headings {
        font-size: 23px;
    }
}