#navbar {
    background-color: rgba(0,0,0,0);
    background-blend-mode: darken;
    font-family: aleo;
}

#nav {
    font-family: aleo;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    background-image: url('../../assets/Best-Web-Development-Company-in-Bangladesh.jpg');
    background-blend-mode: darken;
    background-size: cover;
    color: white;
}

#myText {
    animation: slide-up 4s ease forwards;
}

@keyframes slide-up {
    from {
        opacity: 0.1;
        line-height: 50px;
    }
    to {
        opacity: 5;
        line-height: 32px;
    }

}



@media only screen and (max-width:576px) {
     #nav {
        width: 100%;
        height: 50%;
        background-image: url('../../assets/Best-Web-Development-Company-in-Bangladesh.jpg');
        background-blend-mode: darken;
        background-size: cover;
     }
}