#navbar {
    background-color: rgba(0,0,0,0);
    background-blend-mode: darken;
    font-family: aleo;
}

#nav {
    font-family: aleo;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    /* background-color: #30B2DA; */
    background-image: url('../../assets/Best-Web-Development-Company-in-Bangladesh.jpg');
    background-blend-mode: darken;
    background-size: cover;
    color: white;
}

@media only screen and (max-width:576px) {
     
}